* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
  list-style: none;
  color: black;
}
nav.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2% 10%;
  align-items: center;
}

ul.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2em;
}
h1.logo {
  font-size: 1.5rem;
  color: transparent;
  background: linear-gradient(133deg, #3e08f0, #e40040e8);
  background-clip: text;
}

.navbar button,.anav {
  padding: 0.85em 2em;
  border-radius: 3rem;
  border: none;
  font-size: 1rem;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(136deg, #cf00ff, #1606e9) border-box;
  border: 2px solid transparent;
  color: black;
  font-weight: 700;
  transition: all ease 0.25s;
  cursor: pointer;
}
.navbar button:hover,.anav:hover {
  background: linear-gradient(460deg, #cf00ff, #1606e9) border-box;
  color: white;
  transition: 0.3s ease;
}
.navlinks a::after {
  width: 35%;
  margin-top: 2.5%;
  height: 2px;
  content: "";
  display: block;
  background: linear-gradient(45deg, #cf00ff, #1606e9);
  border-radius: 2rem;
  transition: all ease 0.25s;
}

.navlinks li a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navlinks li a:hover::after{
  width: 60%;
}
footer#Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.r1 {
  display: flex;
  justify-content: space-between;
}

.c2 {
  width: 35%;
  border-left: 1px solid white;
  padding-left: 1.5em;
  height: fit-content;
  padding-bottom: 40px;
}

footer#Footer {
  background: black;
  color: white;
}

#Footer p {
  color: white;
  font-weight: 200;
}

footer#Footer {
  padding: 6% 3%;
}

h1.Falcons {
  color: white;
  margin-top: 6%;
  font-size: 6rem;
}

h2.qubits {
  color: white;
  font-size: 5rem;
}

h1.Falcons,h2.qubits {
  line-height: 92%;
}

.c2 h1 {
  color: white;
  font-size: 3rem;
}